<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <% if Setting.exists? %>
    <%= raw RedCloth.new(Setting.first.mainimageurl).to_html %>
  <% else %>
  
  <% end %>
  <br/>
  <br/>
  <h1>
    <% if Setting.exists? %>
      <%= Setting.first.logostring %>
    <% else %>
      Empty
    <% end %>
  </h1>
  <blockquote>
	  <h3>
      <% if Setting.exists? %>
        <%= Setting.first.maindescription %>
      <% else %>
        <% if signed_in? %>
        <%= link_to "Setting Your pages.", settings_path %>
        <% else %>
          Sign up and Sign in -> Make your pages.
        <% end %> 
      <% end %>
	  </h3>
	</blockquote>
  <br/>
  <% if signed_in? %>
    <%= current_user.name  %> Welcome.
  <% else %>
    <%= link_to "가입하기", signup_path, class: "btn btn-smmll btn-primary"%>
  <% end %>
</div>
<div class = "row">
  <div class="span12">
    <div class="span8">
      <table class="<%= cycle("odd", "even") %>">
      <% if Forum.exists? %>
        <h3 class="center"><%=Forum.first.title %></h3>
        <% Forum.first.topics.each do |topic| %>
          
          <% if topic.image.exists? %>
            <tr>
              <td><%= image_tag topic.image, class:"thumbnail span3 offset2" %></td>
              <td><h4>  <%= topic.description%></h4></td>
            </tr>
            <tr>
              <td><h3><%= topic.title %></h3></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
      <% end %>
      </table>
    </div>
    <div class="span3">  
    </div>
  </div>
</div>