<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <% if Setting.exists? %>
    <%= raw RedCloth.new(Setting.first.mainimageurl).to_html %>
  <% else %>
  
  <% end %>
  <br/>
  <br/>
  <h1>
    <% if Setting.exists? %>
      <%= Setting.first.logostring %>
    <% else %>
      Empty
    <% end %>
  </h1>
  <blockquote>
	  <h3>
      <% if Setting.exists? %>
        <%= Setting.first.maindescription %>
      <% else %>
        <% if signed_in? %>
        <%= link_to "Setting Your pages.", settings_path %>
        <% else %>
          Sign up and Sign in -> Make your pages.
        <% end %> 
      <% end %>
	  </h3>
	</blockquote>
  <br/>
  <% if signed_in? %>
    <%= current_user.name  %> Welcome.
  <% else %>
    <%= link_to "가입하기", signup_path, class: "btn btn-smmll btn-primary"%>
  <% end %>
</div>
