<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <% if Setting.exists? %>
    <%= raw RedCloth.new(Setting.first.mainimageurl).to_html %>
  <% else %>
    <h3>기본 설정 후 이미지 및 동영상이 출력되는 곳 입니다.</h3>
  <% end %>
  <h1>
    <% if Setting.exists? %>
      <%= Setting.first.logostring %>
    <% else %>
      Empty
    <% end %>
  </h1>
  <blockquote>
	  <h3>
      <% if Setting.exists? %>
        <%= raw nl2br(Setting.first.maindescription) %>
      <% else %>
        <% if signed_in? %>
        <%= link_to "Setting Your pages.", settings_path %>
        <% else %>
          Sign up and Sign in -> Make your pages.
        <% end %> 
      <% end %>
	  </h3>
	</blockquote>
  <% if signed_in? %>
    <%= current_user.name  %> Welcome.
  <% else %>
    <%= link_to "가입하기", signup_path, class: "btn btn-smmll btn-primary"%>
  <% end %>
</div>
<div class = "row">
  <div class="span12">
    <div class="span 8 topicleft">
      <table class="span8">
      <% if Forum.exists? %>
        <h3 class="center"><%=Forum.first.title %></h3>
        
        <% Forum.first.topics.each do |topic| %>
          <% if topic.image.exists? %>
            <tr >
              <td><h3><%= topic.title %></h3></td>
              <td></td>
            </tr>
            <tr>
              <td ><%= image_tag topic.image,height: '100',width: '100' %></td>
              <td class="topicdescription"><h4>  <%= raw nl2br(topic.description)%></h4></td>
            </tr>
          <% end %>
          
        <% end %>
        </ul>
        <% else %>
          <h3>첫번째 메뉴를 생성하면 정보를 볼 수 있습니다.</h3>
      <% end %>
      </table>
    </div>
    <div class="span3 topicright">  
      <table>
        <% if Forum.find(:first,order:"id",offset:1)%>
          <h3 class ="center"><%=Forum.find(:first,order:"id",offset:1).title%></h3>
            <% Forum.find(:first,order:"id",offset:1).topics.each do |topic| %>
              <tr>
                <td style="float:right; color:red;"><h5><%= topic.title %></h5></td>
              </tr>
              <tr>
                <td style="float:left;"><h4><%= topic.description %></h4></td>
              </tr>
            <% end %>
        <% else %>
          <h3> 두번째 메뉴를 생성하면 정보를 볼 수 있습니다.</h3>
        <% end %>
      </table>
    </div>
  </div>
</div>