<% provide(:title,'Forum')%>
<div style="width:50%;float:left;">
  <h1> 게시판 리스트</h1>
  <table>
    <tr>
  <% @forums.each do |forum| %>
    <td><%= button_to forum.title, forum_path(forum),method: :get,class: "btn btn-large btn-danger" %></td>
  <% end %>
    </tr>
  </table>
</div>

<div style="width:50%;float:right;">
  <h1> 최근글 </h1>
  <% @forums.each do |forum| %>
    <h3> <%= forum.title%> </h3>
    <ul>
    <% forum.topics.each do |topic| %>
      <% if Time.now - topic.updated_at < 200000 %>
        <li><%= link_to topic.title, forum_topic_path(forum, topic) %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>
<br />
<% if current_user.admin? %>
  <%= current_user.admin %>
  <%= link_to 'New Forum', new_forum_path %>
<% end %>




<table style="display:none">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.title %></td>
    <td><%= forum.description %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
