<% provide(:title,'Forum')%>
<div style="width:50%;float:left;">
  <h1> 게시판 리스트</h1>
  <table>
    <tr>
  <% @forums.each do |forum| %>
    <td><%= button_to forum.title, forum_path(forum),method: :get,class: "btn btn-large btn-danger" %></td>
  <% end %>
    </tr>
  </table>
</div>

<table style="display:none">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.title %></td>
    <td><%= forum.description %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
