<% if @topic.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

    <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :title ,"제목"%><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description, "내용" %><br />
  <%= f.text_area :description, :rows => 4, :cols => 60 %>
</div>
<div class = "field">
  <%= f.label :image,"이미지" %>
  <%= f.file_field :image, rows:5, cols:10 %>

</div>

<div class="actions">
  <%= f.submit %>
</div>
