<div id="topics">
  <table class = "table table-striped">
    <thead>
      <tr>
        <th style="width:5%;text-align:center;">작성자</th>
        <th style="width:10%;text-align:center;">날짜</th>
        <th style="width:5%;text-align:center;">조회</th>
        <th style="width:5%;text-align:center;">리플</th>
        <th style="width:75%;text-align:center;">제목</th>
        <th></th>      
      </tr>
    </thead>
  <ol reversed="reversed">
    <tbody>
      <% @topics.each do |topic| %>
        <tr class="<%= 'list_line'%>">
          <% if topic.user_name == current_user.name %>
            <td><span class="label"><%= topic.user_name %></span></td>
          <% else %>
            <td><span class="label label-important"><%= topic.user_name %></span></td>
          <% end %>
          <td><span class="label label-inverse"><%= topic.updated_at.strftime("%Y/%m/%d\n%I:%M%p") %></span></td>
          <td><%= topic.counter %></td>
          <td><% if topic.comments.exists? %>
            <span class="label label-warning"><%= topic.comments.count %></span></td>
          <% end %>
          <td><strong><%= link_to topic.title, forum_topic_path(@forum, topic) %></strong>
          <% if topic.image.exists? then %>
            <%= image_tag "/images/image_up.gif" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </ol>
  </table>
</div>