<p id="notice"><%= notice %></p>
	<%= render "topicinfo"%>
<div>
	<% if @topic.image.exists? then %>
		<%= image_tag @topic.image%>
	<% end %>
	<br/>
	<br/>
	<div class="hero-unit">
	  <%= raw RedCloth.new(coderay(@topic.description)).to_html %>
	</div>
</div>
<br/>
<%= render 'comments/form' %>
<br/>

<div id="comments">
	<ol>
 	 <%= render @comments %>
	</ol>
</div>
<br/>
<div style="float:right;">
	<table >
		<tr>
			<% if current_user.id.equal? @topic.user_id %>
				<td><%= button_to '글 수정', edit_forum_topic_path(@forum, @topic), method: :get, class:'btn btn-mini'%></td>
			<% end %>
				<td><%= button_to '처음으로', root_path, method: :get, class:'btn btn-mini'%></td>
				<td><%= button_to '목록으로', forum_path(@forum), method: :get,  class:'btn btn-mini'%></td>
		</tr>
	</table>
</div>