<p id="notice"><%= notice %></p>
<%= render "topicinfo"%>
<% if @topic.image.exists? then %>
	<%= image_tag @topic.image %>
<% end %>
<div>
  <%= @topic.description %>
</div>
<div>
	
</div>
<br/>

<%= render 'comments/form' %>

<br/>

<h2> Comments </h2>
<div id="comments">
  <%= render @comments %>
</div>


<br/>
<h1><%= current_user %></h1>
<h1><%= current_user.id %></h1>
<h1><%= current_user.name %></h1>
<h1><%= current_user.email %></h1>


<%= link_to 'Edit Topic', edit_forum_topic_path(@forum, @topic) %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Forum Topics', forum_path(@forum) %>
