<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logostring,"로고,타이틀" %><br />
    <%= f.text_field :logostring %>
  </div>
  <div class="field">
    <%= f.label :maindescription,"홈페이지 설명" %><br />
    <%= f.text_area :maindescription %>
  </div>
  <div class="field">
    <%= f.label :mainimageurl,"홈페이지 동영상(youtube source)" %><br />
    <%= f.text_field :mainimageurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
