<div class="center container">
  <h1>Forums</h1>
  <%= link_to 'New Forums', new_forum_path %><br/>

  <% Forum.all.each do |forum| %>
    <tr>
      <td><%= forum.title %></td>
      <td><%= forum.description %></td>
      <td><%= link_to 'Show', forum %></td>
      <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
      <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr><br/>
  <% end %>
</div>
<br/>
<div class="center container">
  <h1>Topics</h1>

  <% Forum.all.each do |forum| %>
    <% forum.topics.each do |topic| %>
      <tr>
        <td><%= forum.title %></td>
        <td><%= topic.title %></td>
        <td><%= topic.description %></td>
        <td><%= link_to 'Show',forum_topic_path(forum, topic) %></td>
        <td><%= link_to 'Edit', edit_forum_topic_path(forum,topic) %></td>
        <td><%= link_to 'Destroy', forum_topic_path(forum,topic), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr><br/>
    <% end %>
  <% end %>
</div>
<br/>
