<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Links <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "알지롱", "http://www.rgr.kr", target: "_blank" %></li>
		<li><%= link_to "펑게", "http://bab.jjom.net:6969/", target: "_blank" %></li>
		<li class="divider"></li>
    <li><%= link_to "하이보고", "http://hibogo.net", target: "_blank" %></li>
		<li><%= link_to "토렌트알지", "http://torrentrg.com", target: "_blank" %></li>
		<li class="divider"></li>
		<li><%= link_to "모두의마블", "http://game2.netmarble.net/moma", target: "_blank"  %></li>
    <li><%= link_to "윷놀이", "http://game2.netmarble.net/yutgame", target: "_blank"  %></li>
		<li class="divider"></li>
    <li><%= link_to "G마켓", "http://gmarket.co.kr", target: "_blank"  %></li>
    <li><%= link_to "옥션", "http://auction.co.kr", target: "_blank"  %></li>
    <li><%= link_to "11번가", "http://11st.co.kr", target: "_blank"  %></li>
  </ul>
</li>